        <table>
            <tr>
                <td class="tableleft">
                    <h1 id="toMove">White to move</h1>
                </td>
                <td class="tableleft" id="evaluationValue">
                </td>
                <td class="table-dice">
                    <span class="dice dice-1" id="dice0" hidden></span>
                    <span class="dice dice-1" id="dice1" hidden></span>
                    <span class="dice dice-2" id="dice2" hidden></span>
                    <span class="dice dice-3" id="dice3" hidden></span>
                    <span class="dice dice-4" id="dice4" hidden></span>
                    <span class="dice dice-5" id="dice5" hidden></span>
                    <span class="dice dice-6" id="dice6" hidden></span>
                    <span class="dice dice-1" id="dice7" hidden></span>
                </td>
            </tr>
        </table>
        <div id="board" class = "board">
              <div class="left-bin">
                    <div class="top-row">
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                    </div>

                    <div class="bottom-row">
                        <div class="arrow-up odd"></div>
                        <div class="arrow-up even"></div>
                        <div class="arrow-up odd"></div>
                        <div class="arrow-up even"></div>
                        <div class="arrow-up odd"></div>
                        <div class="arrow-up even"></div>
                    </div>
              </div>

              <div class = "middle-bar"></div>

              <div class = "right-bin">
                    <div class="top-row">
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                    </div>

                    <div class="bottom-row">
                          <div class="arrow-up odd"></div>
                          <div class="arrow-up even"></div>
                          <div class="arrow-up odd"></div>
                          <div class="arrow-up even"></div>
                          <div class="arrow-up odd"></div>
                          <div class="arrow-up even"></div>
                    </div>
              </div>
              <div class = "right-bar"></div>

              <div class = "button-block">
                <table>
                    <tr>
                        <td class="table-left">
                            <button type="button" id="buttonTakeBack" onclick="takeBack()">Take Back</button>
                            <button type="button" id="buttonNew" onclick="newBoard()">New</button>
                        </td>
                        <td class="table-right">
                            <button type="button" id="buttonRoleDice" onclick="roleDice()">Role the dice</button>
                        </td>
                    </tr>
                </table>
              </div>
        </div>


