    <div id="board" class = "board">
      <div class="left-bin">
        <div class="top-row">
          <div class="arrow-down odd"></div>
          <div class="arrow-down even"></div>
          <div class="arrow-down odd"></div>
          <div class="arrow-down even"></div>
          <div class="arrow-down odd"></div>
          <div class="arrow-down even"></div>
        </div>

          <div class="bottom-row">
            <div class="arrow-up odd"></div>
            <div class="arrow-up even"></div>
            <div class="arrow-up odd"></div>
            <div class="arrow-up even"></div>
            <div class="arrow-up odd"></div>
            <div class="arrow-up even"></div>
          </div>
      </div>

      <div class = "middle-bar"></div>

      <div class = "right-bin">
        <div class="top-row">
          <div class="arrow-down odd"></div>
          <div class="arrow-down even"></div>
          <div class="arrow-down odd"></div>
          <div class="arrow-down even"></div>
          <div class="arrow-down odd"></div>
          <div class="arrow-down even"></div>
        </div>

        <div class="bottom-row">
          <div class="arrow-up odd"></div>
          <div class="arrow-up even"></div>
          <div class="arrow-up odd"></div>
          <div class="arrow-up even"></div>
          <div class="arrow-up odd"></div>
          <div class="arrow-up even"></div>
        </div>
      </div>

      <div class = "right-bar"></div>

    </div>
