<div class="grid-container">
    <div class="grid-item">

        <div id="board" class = "board">
              <div class="left-bin">
                    <div class="top-row">
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                    </div>

                    <div class="bottom-row">
                        <div class="arrow-up odd"></div>
                        <div class="arrow-up even"></div>
                        <div class="arrow-up odd"></div>
                        <div class="arrow-up even"></div>
                        <div class="arrow-up odd"></div>
                        <div class="arrow-up even"></div>
                    </div>
              </div>

              <div class = "middle-bar"></div>

              <div class = "right-bin">
                    <div class="top-row">
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                          <div class="arrow-down odd"></div>
                          <div class="arrow-down even"></div>
                    </div>

                    <div class="bottom-row">
                          <div class="arrow-up odd"></div>
                          <div class="arrow-up even"></div>
                          <div class="arrow-up odd"></div>
                          <div class="arrow-up even"></div>
                          <div class="arrow-up odd"></div>
                          <div class="arrow-up even"></div>
                    </div>
              </div>

              <div class = "right-bar"></div>
        </div>
        <p  style="font-size: 3em;">
            <button type="button">Role the dice</button>
            <span class="dice dice-1" title="Dice 1"></span>
            <span class="dice dice-2" title="Dice 2"></span>
            <span class="dice dice-3" title="Dice 3"></span>
            <span class="dice dice-4" title="Dice 4"></span>
            <span class="dice dice-5" title="Dice 5"></span>
            <span class="dice dice-6" title="Dice 6"></span>
            <span class="dice dice-5" title="Dice 5"></span>
            <span class="dice dice-6" title="Dice 6"></span>
        </p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
</div>


