<!DOCTYPE html>
<html lang="en-us">
  <head>
    <style>
        {{> trictrac_css }}
        {{> dice_css }}
    </style>
  </head>

  <body onload="getBoard()">
    {{> trictrac_html }}

    {{> trictrac_js }}

  </body>
</html>
